@charset "UTF-8";

.title_container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 80px;
	width: fit-content;
}

.title {
	display: block;
	font-size: 2rem;
	font-weight: 600;
	font-family: "Kaisei Tokumin", serif;
	border-bottom: 1px solid lightgoldenrodyellow;
}

.euf_row {
    display: grid;
    grid-template-columns: 60px 160px 1fr 60px 60px;
    gap: 10px;
    margin-bottom: 20px;
}

.euf_header {
	font-family: "M PLUS 2", sans-serif;
	font-size: 1.2rem;
	color: lightgoldenrodyellow;
	text-align: center;
	font-weight: 600;
}

.euf_id,
.euf_date,
.euf_valid,
.euf_delete {
    text-align: center;
}

.euf_cell textarea {
	display: block;
	/* 行要素として扱う（余白の謎を減らす） */
	width: 100%;
	/* 親(dd)の幅いっぱいに */
	max-width: 100%;
	/* どこかでmax-widthが指定されていても上書き */
	box-sizing: border-box;
	/* padding/border込みで100%に収める */
	border: 1px solid gainsboro;
    padding: 4px 12px;
}

/* ------------------------------
  キャンセルとsubmitボタン
 ------------------------------ */
.forms_buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

#submit_btn,
#cancel_btn {
	display: block;
	width: 20%;
	border: 1px solid gainsboro;
	background-color: black;
	font-family: "M PLUS 2", sans-serif;
	color: lightgoldenrodyellow;
	font-size: 1.2rem;
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-weight: 500;
}

#submit_btn span,
#cancel_btn span {
	display: inline-block;
	transition: transform 0.3s ease;
	transform-origin: center center;
}

#submit_btn:hover span,
#cancel_btn:hover span {
	transform: scale(1.1);
}