<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>シシワカ陶苑｜作品一覧</title>

	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/works.css">

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Kaisei+Tokumin&family=M+PLUS+2:wght@100..900&family=Zen+Antique&display=swap"
		rel="stylesheet">

	<!-- isotope.js -->
	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js" defer></script>
	<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js" defer></script>
	<script src="/scripts/works.js" defer></script>
</head>

<body>
	<header>
		<a th:href="@{/}" class="header_left_block">

			<img class="sisiwaka_touen_icon" src="/images/sisiwaka_touen_logo.jpg" alt="シシワカ陶苑ロゴ">
			<h1>シシワカ陶苑</h1>
		</a>
		<div class="header_right_block">
			<div class="minne_icon">
				<a href="https://minne.com/@sisiwaka10en" target="_blank">
					<img src="/images/minne_logo_vertical.png" alt="minne logo">
				</a>
			</div>
			<div class="instagram_icon">
				<a href="https://www.instagram.com/albrecht1999/" target="_blank">
					<img src="/images/Instagram_Glyph_Gradient.png" alt="Instagram Icon">
				</a>
			</div>
		</div>
	</header>

	<main>
		<div class="main_container">
			<p class="back_to_index"><a th:href="@{/}" class="link_style">トップに戻る</a></p>
		</div>
		<!-- タイトルと検索パネル開閉ボタン -->
		<div class="title_and_button">
			<h2 class="nav_font">作品一覧</h2>
			<button id="search_toggle_btn" type="button">
				検索条件（開く）
			</button>
		</div>

		<!-- 検索パネル -->
		<div id="search_panel">
			<form id="search_form">

				<!-- 用途 -->
				<fieldset class="field_group">
					<legend>
						<span>用途</span>
						<button type="button" id="clear_category" class="btn_in_search_panel">用途をクリア</button>
					</legend>

					<div class="checkbox_container" id="checkbox_category">
						<label th:each="cat : ${categories}">
							<input type="checkbox" name="category[]" th:value="${cat.slug}">
							<span th:text="${cat.label_ja}"></span>
						</label>
					</div>
				</fieldset>

				<!-- 技法 -->
				<fieldset class="field_group">
					<legend>
						技法
						<button type="button" id="clear_techniques" class="btn_in_search_panel">技法をクリア</button>
					</legend>

					<div class="checkbox_container" id="checkbox_techniques">
						<label th:each="tech : ${techniques}">
							<input type="checkbox" name="technique[]" th:value="${tech.slug}">
							<span th:text="${tech.label_ja}"></span>
						</label>
					</div>
				</fieldset>

				<!-- 色合い -->
				<fieldset class="field_group">
					<legend>
						色合い
						<button type="button" id="clear_coloring" class="btn_in_search_panel">色合いをクリア</button>
					</legend>

					<div class="checkbox_container" id="checkbox_coloring">
						<label th:each="col : ${colorings}">
							<input type="checkbox" name="coloring[]" th:value="${col.slug}">
							<span th:text="${col.label_ja}"></span>
						</label>
					</div>
				</fieldset>

				<!-- 在庫 -->
				<fieldset class="field_group">
					<legend>在庫</legend>
					<div class="checkbox_container" id="checkbox_is_stock">
						<label>
							<input type="checkbox" name="is_stock" value="is_stock">
							在庫ありのみ表示
						</label>
					</div>
				</fieldset>

			</form>
			
			<div>
				<p id="debug" style="display: block;"></p>
			</div>
		</div>

		<!-- ローディングスピナー -->
		<div id="loading_spinner"></div>

		<!-- 作品一覧 -->
		<div id="artworks_gallery" class="artworks_grid is_loading">
			<a th:each="p : ${allProducts}" th:href="@{/works/{id}(id=${p.id})}"
				th:class="${'grid-item ' + p.category + ' ' + p.coloring + ' ' + (p.in_stock ? 'in_stock' : '') + ' ' + #strings.arrayJoin(p.techniques, ' ')}">

				<figure class="card">
					<div class="thumb">
						<img th:src="${p.thumbnail_url}" th:alt="${p.name}">
					</div>
					<figcaption class="caption" th:text="${p.name}"></figcaption>
				</figure>
			</a>
		</div>

	</main>

	<footer>
		<p>&copy; 2026
		 シシワカ陶苑</p>
	</footer>
</body>

</html>